<div class="container text-center">
<h1>About page</h1>
<p>We are DEVmatch. Our company focuses on creating an exclusive community
for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, 
consectetur adipisicing elit. Id, iure, ullam, cumque consequatur laudantium 
delectus sequi rerum iusto in quis voluptate possimus quo ex impedit animi 
laborum quia. Ab, quam.</p>
</div>